/*  your css code here. If applicable */
th,td{
	border:1px solid #ccc ;
	border-radius:5px;
	padding:0.5rem;
	
}
tr:nth-child(3){
	background-color:#f2f2f2;
}
tr:nth-child(even){
	background-color:#ffffff;
}
tr:nth-child(5){
	background-color:#f2f2f2;
}